body {
  background-color: #707070;
}

#title {
  width: 100%;
  margin: 2% 5%;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 40px;
  text-align: center;
}

#loginDiv,
#loggedInDiv,
#accessUIDiv {
  width: 70%;
  margin-left: 15%;
  padding: 25px;
  background-color: #b2b2b2;
  font-size: 30px;
}

.buttons {
  width: 50%;
  margin-left: 25%;
  border-radius: 25px;
  font-family: Ubuntu, sans-serif;
  font-size: 30px;
}

.buttons:hover {
  background-color: #00d5124f;
  color: #fff;
  opacity: 0.5;
}

#loginName,
#loginPassword,
#searchText,
#colorText {
  font-size: 30px;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  margin-bottom: 2%;
  margin-left: 10%;
  border-radius: 25px;
  font-family: Ubuntu, sans-serif;
  text-align: center;
}

#inner-title {
  display: inline-block;
  width: 90%;
  margin-bottom: 2%;
  margin-left: 5%;
  color: #95060a;
  font-family: Ubuntu, sans-serif;
  font-size: 0.8em;
  text-align: center;
}

#loginResult {
  display: inline-block;
  width: 90%;
  margin-bottom: 2%;
  margin-left: 5%;
  color: #95060a;
  font-family: Ubuntu, sans-serif;
  font-size: 0.8em;
  text-align: center;
}

#userName {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

#logoutButton {
  width: 20%;
  margin-left: 40%;
}

select {
  width: 30%;
  margin-top: 2%;
  margin-left: 35%;
  font-family: Ubuntu, sans-serif;
  font-size: 0.75em;
}

#colorSearchResult {
  display: none;
}

#colorAddResult {
  display: inline-block;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 5%;
  color: #95060a;
  font-family: Ubuntu, sans-serif;
  font-size: 0.8em;
  text-align: center;
}
